section.past-clients {
	padding: $big-gap;
	background-color: $gray-bg;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	align-items: center;

	.client {
		justify-self: center;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 75px;
	}

	.client:nth-child(1),
	.client:nth-child(2),
	.client:nth-child(3),
	.client:nth-child(4) {
		border-bottom: 2px solid $gray-border-opac;
	}

	.client:nth-child(1),
	.client:nth-child(2),
	.client:nth-child(3),
	.client:nth-child(5),
	.client:nth-child(6),
	.client:nth-child(7) {
		border-right: 2px solid $gray-border-opac;
	}
}

@media only screen and (max-width: 1400px) {
	body {
		section.past-clients {
			.client {
				img {
					width: 150px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1250px) {
	body {
		section.past-clients {
			.client {
				margin: 50px;
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	body {
		section.past-clients {
			padding: $small-gap;

			.client {
				margin: 30px;

				img {
					width: 130px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	body {
		section.past-clients {
			grid-template-columns: repeat(2, auto);

			.client {
				margin: 25px;

				img {
					width: 125px;
				}
			}

			.client:nth-child(5),
			.client:nth-child(6) {
				border-bottom: 2px solid $gray-border-opac;
			}

			.client:nth-child(2),
			.client:nth-child(6) {
				border-right: 0px;
			}
		}
	}
}
