$primary-ligther: #fdca09;
$primary-darker: #fec00a;
$white: #ffffff;
$black: #000000;
$dark-font: #101010;
$dark-font-opac: rgba(16, 16, 16, 0.5);
$big-gap: 150px 0;
$small-gap: 75px 0;
$gray-bg: rgba(217, 217, 217, 0.5);
$gray-border: #9a9b9b;
$gray-border-opac: rgba(154, 155, 155, 0.5);
